<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-4">
  <a class="navbar-brand" routerLink="/">{{ brand }}</a>
  <div class="collapses navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['recipes']">Recipes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" [routerLink]="['shopping-list']">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-toggler-right">
      <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item pointer" (click)="onSave()">Save Data</a>
          <a class="dropdown-item pointer" (click)="onFetch()">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
