<form name="recipe-form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" *ngIf="editMode">Update</button>
    <button class="btn btn-primary" *ngIf="!editMode">Create</button>
  </div>
</form>
