<div class="row">
  <div class="col">
    <img style="max-height: 200px" [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col">
    <h1> {{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="btn-group" role="group" appDropdown>
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupManage">
        <a class="dropdown-item pointer" (click)="addToShoppingList(recipe.ingredients)">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item justify-content-between" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} <span class="badge badge-primary badge-pill">{{ ingredient.amount }}</span>
      </li>
    </ul>
  </div>
</div>
