<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-4">
      <h2>Servers</h2>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input #serverName type="text" id="name" name="name" class="form-control" ([ngModel])="serverName">
        </div>
        <button class="btn btn-success" type="button" (click)="onAdd(serverName.value)">Save</button>
      </form>

      <hr>
      <button class="btn btn-primary" (click)="onPush()">Push servers</button>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let s of servers">
          {{ s.id }} - {{ s.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
