<div class="row">
  <div class="col">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <div class="list-group" *ngFor="let recipe of recipes">
      <a href="#" class="list-group-item justify-content-between">
        <div class="pull-left">
          <h4>{{ recipe.name }}</h4>
          <p> {{ recipe.description }}</p>
        </div>

        <span class="pull-right">
          <img width="75" class="img-responsive" [src]="recipe.imagePath" [alt]="recipe.name">
        </span>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
