/* You can add global styles to this file, and also import other style files */

.container:first-of-type {
  padding-top: 40px;
}

.inset {
  background-color: #f5f5f5;
}

.pointer {
  cursor: pointer;
}
